<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Accueil</title>
    <link href="/css/index.css" rel="stylesheet"
</head>
<body>
    <header class="header">
        <h1 class="logo-title">AXA</h1>
    </header>

   <div class="content">
        <aside>
            <h2>Remboursement billets d'avions</h2>
            <button>Achat de billets</button>
            <button>Retard de vol</button>
        </aside> 

        <section>
            <h2>Historique remboursement</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Remboursement</th>
                </tr>
            </table>
        </section>
   </div>
</body>
</html>