<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Accueil</title>
    <link href="/css/index.css" rel="stylesheet"
</head>
<body>
    <header class="header">
        <h1 class="logo-title"><a href="/">AXA</a></h1>
    </header>

   <div class="content">
        <div class="card">
            <h2>Un retard d'avion ? Faites vous remboursez directement ici !</h2>
            <p>Indemnisation automatique</p>

            
        </div>
   </div>
</body>
</html>