<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Accueil</title>
    <link href="/css/index.css" rel="stylesheet"
</head>
<body>
    <header class="header">
        <h1 class="logo-title"><a href="/">AXA</a></h1>
    </header>

   <div class="content">
        <div class="card">
            <h2>Achetez et faites vous remboursez tout en confiance</h2>
            <p>Indemnisation automatique</p>
            <div class="content-card">
                <a href="/buy" title="Acheter un billet"><button class="btn">Acheter</button></a>
                <a href="/" title="Retard d'avion"><button class="btn">Retard d'avion</button></a>
                <a href="/history" title="Demande de remboursement"><button class="btn">Remboursement</button></a>
            </div>
        </div>
   </div>
</body>
</html>